@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Monument Extended';
  src: url('/Fonts/MonumentExtended-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/Fonts/MonumentExtended-Ultrabold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Monument Extended';
  src: url('/Fonts/SFProDisplay-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  user-select: none;
}
